@import '../../_common/styles/init';

.spacer {
  @include media-breakpoint-up(lg) {
    padding: 116px;
  }
}

.decor {
  font-family: var(--secondary-font-family);
  font-size: 30px;
  font-style: italic;
}
