@import '../../_common/styles/init';

.block {
  @include flex($direction: column);

  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.spacer {
  padding: 116px;
}

.decor {
  margin-bottom: 0;
  padding: 170px 0;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 30px;
  font-style: italic;
}
