@import '../../styles/init';

.block {
  @include media-breakpoint-up(lg) {
    display: grid;
    position: relative;
    grid-template-rows: 540px 380px;
    grid-template-columns: 31% 26% 22% 25%;
  }

  @include media-breakpoint-up(xl) {
    grid-template-rows: 600px 480px;
  }
}

.tabs {
  @include reset-list;
  @include flex(center, flex-start, column);

  position: absolute;
  top: 490px;
  left: 0;
  background-color: var(--gray-700);
  padding: 32px;
  width: 100%;
  height: 236px;
  color: var(--white);
  font-family: var(--secondary-font-family);

  @include media-breakpoint-up(lg) {
    @include size(31%, 540px);

    top: 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 60px;
    height: 600px;
  }
}

.item {
  @include transition(opacity);

  opacity: 0.6;
  margin-bottom: 20px;
  font-size: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
    font-size: 48px;
  }

  &.active {
    opacity: 1;
    text-transform: uppercase;
  }
}

.image {
  @include size(100%);

  display: block;
  object-fit: cover;
}

.section {
  @include size(100%);

  display: none;
  position: relative;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  &.main {
    display: block;
    margin-bottom: 236px;
    height: 490px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      height: auto;
    }
  }

  &.mobTitle {
    display: block;
  }
}

.wrapper {
  @include size(100%);

  position: relative;
  background-color: var(--gray-300);
  padding: 150px 85px;
  overflow: hidden;

  &::after {
    display: block;
    position: absolute;
    top: 90px;
    bottom: 90px;
    left: 84px;
    border: 1px solid rgba(#fff, 0.302);
    width: 100%;
    content: '';
  }
}

.decor {
  @include size(100%);

  background-color: var(--brown-100);
}

.text {
  @include size(100%);

  background-color: var(--brown-100);
  padding: 32px;
  text-align: center;
  color: var(--gray-500);
  font-size: 18px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    font-size: 24px;
  }

  @include media-breakpoint-up(xl) {
    padding: 80px 70px;
  }
}

.title {
  margin-bottom: 42px;
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-size: 36px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 24px;
    font-size: 30px;
  }
}
