@import '../../styles/init';

.block {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.right {
  @include flex(center, flex-start, column);

  background-color: var(--gray);
  padding: 32px;

  @include media-breakpoint-up(md) {
    padding: 90px;
  }
}

.button {
  margin-top: 42px;
}

.lightgray {
  background-color: var(--gray-300);
}

.lightbrown {
  background-color: var(--brown-100);
}

.item {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 75%;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 755px;
  }

  &.bottom {
    display: none;

    .title {
      transform: rotateZ(-90deg) translate(75px, 50px);
    }

    @include media-breakpoint-up(md) {
      display: grid;
    }
  }
}

.section {
  height: 490px;

  @include media-breakpoint-up(md) {
    height: 540px;
  }
}

.image {
  @include size(100%);

  display: block;
  object-fit: cover;
}

.title {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    align-self: flex-end;
    margin-left: auto;
    padding: 0 30px 20px 0;
    width: 200px;
    text-align: right;
    line-height: 1.1;
    color: var(--gray-400);
    font-family: var(--secondary-font-family);
    font-size: 60px;
  }
}

.subtitle {
  margin-bottom: 0;
  font-size: 24px;
}
