@import '../../styles/init';

.block {
  padding: 0 16px;

  &.darken {

    .item {
      color: var(--text-color);
    }
  }
}

.item {
  margin: 0 35px;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;

  &:first-child {
    margin-left: 16px;
  }

  &.isActive {
    opacity: 0.6;

    &::after {
      @include size(4px);
      @include transition(opacity);

      display: inline-block;
      margin-left: 4px;
      border-radius: 50%;
      background: var(--white);
      vertical-align: middle;
      content: '';
    }
  }
}
