@import '../../styles/init';

.block {
  padding: 0 16px;

  &.darken {

    .item {
      color: var(--text-color);
    }
  }

  &.isAdaptive {
    @include media-breakpoint-down(sm) {

      .item {
        display: block;
        margin: 0 0 40px;
        font-size: 18px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.item {
  margin: 0 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-size: 16px;

  &:first-child {
    margin-left: 16px;
  }

  &.isActive {
    opacity: 0.6;

    &::after {
      @include size(4px);
      @include transition(opacity);

      display: inline-block;
      margin-left: 4px;
      border-radius: 50%;
      background: var(--white);
      vertical-align: middle;
      content: '';
    }
  }
}
