//
// Project Colors
//

$white: #fff;

//
// Social color
//

$twitter: #00aced;
$telegram: #08c;
$facebook: #4267b2;
$twitch: #6441a4;
$linkedin: #0077b5;
$vk: #4c75a3;
$hltv: #486ea1;
$discord: #7289da;
$faceit: #f50;
$instagram: #e1306c;
$youtube: #f00;
$google: #518ef8;
