@import '../../styles/init';

.block {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 800px;
  }
}

.text {
  @include flex(center, flex-start, column);

  background-color: var(--brown-100);
  padding: 32px;

  @include media-breakpoint-up(lg) {
    padding: 230px 90px;
  }
}

.ratio {
  @include size(100%);

  position: relative;
}

.section {
  @include size(100%);

  position: absolute;
  top: 0;
  left: 0;
}

.image {
  @include size(100%, 490px);

  display: block;
  object-fit: cover;

  @include media-breakpoint-up(lg) {
    @include size(100%);
  }
}
