@import '../../styles/init';

.block {
  margin: 0 auto;
  padding: 105px 0;
  max-width: 1230px;
  text-align: center;

  &.reset {
    padding: 0;
    max-width: none;
    text-align: inherit;
  }
}

.title {
  margin-bottom: 56px;
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-size: 36px;

  @include media-breakpoint-up(md) {
    font-size: 60px;
  }
}

.text {
  color: var(--gray-800);
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}
