//
// Project Colors
//

:root {
  --white: #fff;
  --white-light: #fefefe;
  --text-color: #404040;
  --brown: #b79f91;
  --brown-100: #e0d7cb;
  --brown-500: #9f6f5e;
  --gray: #b7b7b7;
  --gray-100: #dadada;
  --gray-300: #e6e6e6;
  --gray-700: #8c94a7;
}
